<input type="text" placeholder="Passing by Element Refrence !" #inputd >
<button (click)="callme()">Submit</button>
{{inputd.value|uppercase}}
<!-- <div style="text-align: center; padding: 30px;">
    <h1>This is the parent component</h1>
    <button (click)="veganValue=true">Vegan Food</button>
    <button (click)="veganValue=false">Non-Vegan Food</button>
    <app-onchange [vegan]='veganValue'></app-onchange>
    </div> -->
<button type="submit" (click)="compon('change')">app-change</button>
<button type="submit" (click)="compon('two')">app-two</button>
<div [ngSwitch]="response">
<div *ngSwitchCase="'change'"><app-onchange ></app-onchange></div>
<div *ngSwitchCase="'two'"><app-two ></app-two></div>
<div *ngSwitchDefault></div>
</div> 